<% provide(:title, "Edit Bar") %>
<h1>Edit Pau Hana Bar Listing  </h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for edit_bar_path(@bar) do |f| %>

      <%= f.label :bar_name %>
      <%= f.text_field :bar_name, class: 'form-control' %>

      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>

      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control' %>

      <%= f.label :zipcode %>
      <%= f.text_field :zipcode, class: 'form-control' %>

      <%= f.label :neighborhood %>
      <%= f.text_field :neighborhood, class: 'form-control' %>

      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control' %>

      <%= f.label :website %>
      <%= f.text_field :website, class: 'form-control' %>

      <h2>Specials</h2>
      <%= f.fields_for :specials do |s| %>
      <div class="Specials_fields">
        <div class="field">
          <%= s.label :special_description %>
          <%= s.text_field :special_description, class: 'form-control' %>
        </div>

        <div class="field">
          <%= s.label :day %>
          <%= s.text_field :day, class: 'form-control' %>
          </div>

        <div class="field">
          <%= s.label :special_price %>
          <%= s.text_field :special_price, class: 'form-control' %>
        </div>

        <div class="field">
          <%= s.label :start_time %>
          <%= s.time_field :start_time, class: 'form-control' %>
        </div>

        <div class="field">
          <%= s.label :end_time %>
          <%= s.time_field :end_time, class: 'form-control' %>
        </div>
      </div>

        <% end %>


      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
