<div class="row">
  <div class="col-sm-6 col-md-4">
    <% @bars.each do |bar| %>
    <div id= class="specials">
      <img src="..." alt="...">
      <div class="caption">
        <ol>
          <li><%= bar.bar_name %></li>
          <li><%= bar.address %></li>
          <li><%= bar.city %></li>
          <li><%= bar.zipcode%></li>
          <li><%= bar.neighborhood %></li>
          <li><%= bar.phone %></li>
          <li><%= bar.website %></li>
        </ol>
        <p><a href="#" class="btn btn-primary" role="button">add to fav</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
    <% end %>
  </div>
</div>


<p id="notice"><%= notice %></p>

<p>
  <strong>Bar:</strong>
  <%= @bar.bar_name %>
</p>

<p>
  <strong>Address:</strong>

</p>

<p>
  <strong>City:</strong>
  <%= @bar.city %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @bar.zipcode%>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @bar.neighborhood %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @bar.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @bar.website %>
</p>


<%= link_to 'Edit', edit_bar_path(@bar) %> |
<%= link_to 'Back', bars_path %>
