<% provide(:title, @bar.bar_name) %>

<div class="row">

    <section class="bar_info" >
<h5>


        <br><%= @bar.bar_name %></br>
        <br><%= @bar.address %></br>
        <br><%= @bar.city %></br>
        <br><%= @bar.zipcode %></br>
        <br><%= @bar.neighborhood %></br>
        <br><%= @bar.phone %></br>
        <br><%= @bar.website %></br>
        <br><%= render @specials %></br>


</h5>



<% if current_user.admin?  %>

   <%= link_to "Delete", @bar, method: :delete, class: "btn btn-primary",
                                data: { confirm: "You sure?" } %>
    <%= link_to "Edit", @current_bar, method: :edit, class: "btn btn-danger" %>
<% end %>





    </section>

</div>
