<% provide(:title, @bar.bar_name) %>

<div class="row">

    <section class="bar_info">
<h1>


<%= @bar.bar_name %>
<%= @bar.address %>
<%= @bar.city %>
<%= @bar.zipcode %>
<%= @bar.neighborhood %>
<%= @bar.phone %>
<%= @bar.website %>



<% if current_user.admin?  %>
  | <%= link_to "delete", @bar, method: :delete,
                                data: { confirm: "You sure?" } %>
<% end %>




</h1>
    </section>

</div>
