<% provide(:title, 'Registration') %>
<h1>Register</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for @user do |f| %>
<%= render 'shared/error_messages' %>


    <%= f.label :first_name, 'First Name'%>
    <%= f.text_field :first_name, class: 'form-control'  %>

    <%= f.label :last_name, 'Last Name' %>
    <%= f.text_field :last_name, class: 'form-control'  %>

    <%= f.label "Date of birth", "Date of birth" %>
    <%= f.date_field :birthdate, class: 'form-control' %>

    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation, "Password Confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
    <%= f.submit "Register", class: "btn btn-primary" %>
<% end %>
</div>
</div>
