<div class="center jumbotron">
  <h1>Pau Hana Chi</h1>
  <%= link_to image_tag("officialphclog.png",  id: "phclogo", alt: "Pau Hana Chi logo"),
            '#' %>

  <h2>
    Pau Hana means work is done, time to relax and enjoy life! Pau Hana Chi will help you find the perfect spot in the the windy city!
  </h2>

  <%= link_to "Register!", new_user_path, class: "btn btn-lg btn-primary" %>
  </div>

  <!-- <%= link_to image_tag("officialphclog.png",  id: "phclogo", alt: "Pau Hana Chi logo"),
            '#' %> -->

<!-- <img id="logo" src="<%=asset_path('officialphclog.png')%>">
<body id="pau-hana-home">
  <p>
    Pau Hana means work is done, time to relax and enjoy life! Pau Hana Chi will help you find the perfect spot in the the windy city!
  </p>

  <h3><%= link_to("Register", new_user_path) unless session[:user_id]%></h3>

  <h3>Login</h3>
  <%= form_tag sessions_path do %>
      <%= label_tag :email %>
      <%= text_field_tag :email %>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
      <%= submit_tag "Log in" %>
  <% end %>


</body>
