<h2>Specials</h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= f.fields_for :specials do |s| %>
<div class="Specials_fields">
  <div class="field">
    <%= s.label :special_description %>
    <%= s.text_field :special_description, class: 'form-control' %>
  </div>

  <div class="field">
    <%= s.label :day %>
    <%= s.text_field :day, class: 'form-control' %>
    </div>

  <div class="field">
    <%= s.label :special_price %>
    <%= s.text_field :special_price, class: 'form-control' %>
  </div>

  <div class="field">
    <%= s.label :start_time %>
    <%= s.time_field :start_time, class: 'form-control' %>
  </div>

  <div class="field">
    <%= s.label :end_time %>
    <%= s.time_field :end_time, class: 'form-control' %>
  </div>
</div>


  <% end %>
</div>
</div>
